{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <h1 class="text-center">Login to Your Profile</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <!-- Login Form -->
            <form method="POST" action="{% url 'change password' %}">
                {{ form }}
                {%  csrf_token %}
                <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}
