{% extends 'base.html' %}
{% block content %}
<div class="container mb-5 mt-2">
    <div class="jumbotron">
        <img style="width: 100%"
             src="https://activepets.co.za/web/ap-content/uploads/2019/08/Active-pets-dogs-and-cats.png" alt="">
        <div class="position-sticky">
            <h1 class="display-4">401 Unauthorized</h1>
            <p class="lead">You should create a profile to open this page!</p>
            <hr class="my-4">
            <div class="row col-lg-6">

                <!-- Button to show when profile is NOT created -->
                <a href="#" class="btn btn-lg btn-secondary">Create Profile</a>
            </div>
        </div>
    </div>
</div>

{%endblock %}